/* Your CSS here. */
.pic {
    width: 150px;
    height: 150px;
}

.content {
    text-align: center;
    width: 800px;
    background-color: rgb(79, 121, 161); /* Gray background */
    padding: 20px;
    margin: 100px auto;
    color: white;
}
